html{
    background-color: #000000;
}
body {
    padding: 13px;
    font-family:"Segoe UI";
}
h1{
    text-align: start;
    font-size : 34px;
    color: white;
    padding-left: 40px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 22px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 18px;
}
p {
    font-size: 17px;
}
h2, h3, h4, h5 , main , p, #Informacion , footer{
    text-align: center;
} 
nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 13px;
    padding-right: 160px;
}
nav a{
    color: #00ffff;
    padding-top: 15px;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    padding-left: 50px;
}
a:hover
{
    color : white;
}
main {
    margin-top : 25px;
    padding : 5px;
}
footer {
    margin-top: 25px;
    padding-bottom: 25px;
}
h1 span{
    font-size: 18px;
}
#Pagina {
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    padding-top: 25px;
}
header {
    background-image: url(../img/BannerF.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 500px;
    margin-top: -20px;
}
#derecha   
{ 
    float: right; 
}
#izquierda 
{ 
    float: left;  
}
form
{
    padding-bottom: 25px;
}
h1 span 
{
    color: #00ffff;
}
span
{
    color: red;
}